blockquote {
  display: none;
}

.right-block {
  display: none;
}

.left-block {
  margin-top: 0px;
  padding-top: 0px;
}

#footer {
  display: none;
}

a {
  color: black;
}

h1 {
  margin-top: 0px;
  padding-top: 0px;
}
h3, h2 {
  margin-bottom: -1pc;
}

.only_print {
  display:block;
}

.page-break {
  page-break-before: always;
}

hr {
  height:0px;
  margin:.5em 0;
}
